$color_1: #e74c3c;
$color_2: #fff;
$font-family_1: 'Maven Pro', sans-serif;
$background-color_1: transparent;
$border-color_1: #683531;

@import "https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap";
th {
	padding: 10px;
	text-align: center;
	font-family: $font-family_1;
}
td {
	padding: 10px;
	text-align: center;
	font-family: $font-family_1;
}
.topic__link {
	display: flex;
	justify-content: center;
}
.topic__button {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: $background-color_1;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: $color_1;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 10px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-family: $font-family_1;
	&:hover {
		color: $color_2;
		outline: 0;
	}
	&:focus {
		color: $color_2;
		outline: 0;
	}
}
.animate {
	border-color: $border-color_1;
	color: $color_2;
	background-image: linear-gradient(45deg, #683531 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
	&:hover {
		background-position: 0;
	}
}
.topic__skeleton {
	margin-top: 30px;
	.topic__form {
		display: flex;
		margin-top: 30px;
	}
	.topic__form--1 {
		margin-right: 50px;
	}
	.topic__form--2 {
		margin-right: 50px;
	}
}
@media all and (max-width:991.98px) {
	.topic__button {
		padding: 20px;
		margin: 0;
	}
}
@media all and (max-width:767.98px) {
	.topic__button {
		padding: 10px 20px;
		font-size: 12px;
	}
}
@media all and (max-width:575.98px) {
	.topic__skeleton {
		.topic__form--1 {
			margin-right: 12px;
		}
		.topic__form--2 {
			margin-right: 12px;
		}
	}
}
