$color_1: white;
$color_2: #333333;
$color_3: #fff;
$color_4: #555555;
$color_5: #eeeeee;
$font-family_1: 'Maven Pro', sans-serif;
$background-color_1: #bf382a;
$background-color_2: #fff;
$background-color_3: #f7e8c3;

@import "https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap";
::placeholder {
	color: $color_1;
	font-family: $font-family_1;
}
.login__background {
	width: 100%;
	margin: 0 auto;
}
.body {
	font-family: $font-family_1;
}

.login {
	margin: 0 auto;
	height: 100%;
	width: 70%;
	border-radius: 10px;
	overflow: hidden;
	padding: 55px 55px 37px;
	background-color: $background-color_1;
	.login__account {
		margin-top: 30px;
		color: $color_1;
		font-size: 12px;
		cursor: pointer;
		text-align: center;
		&:hover {
			color: $color_5;
		}
	}
}
.login__logo {
	color: $color_2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: $background-color_2;
	margin: 0 auto;
	font-size: 40px;
	img {
		width: 100%;
		text-align: center;
	}
}
.login__title {
	font-size: 30px;
	color: $color_3;
	line-height: 1.2;
	text-align: center;
	font-weight: bold;
}
.login__form {
	display: flex;
	flex-direction: column;
	.login__email {
		width: 100%;
		position: relative;
		display: flex;
		align-items: baseline;
		font-size: 16px;
		color: $color_1;
		border-bottom: 2px solid rgba(255,255,255,.24);
		margin-bottom: 30px;
		.login__input {
			font-size: 20px;
			color: $color_1;
			line-height: 1.2;
			display: inline-block;
			width: 100%;
			height: 45px;
			background: 0 0;
			padding: 0 5px 0 38px;
			outline: none;
			border: none;
			position: relative;
		}
		.login__icon {
			position: absolute;
			top: 12px;
			left: 0;
		}
	}
	.login__password {
		width: 100%;
		position: relative;
		display: flex;
		align-items: baseline;
		font-size: 16px;
		color: $color_1;
		border-bottom: 2px solid rgba(255,255,255,.24);
		margin-bottom: 30px;
		.login__input {
			font-size: 20px;
			color: $color_1;
			line-height: 1.2;
			display: inline-block;
			width: 100%;
			height: 45px;
			background: 0 0;
			padding: 0 5px 0 38px;
			outline: none;
			border: none;
			position: relative;
		}
		.login__icon {
			position: absolute;
			top: 12px;
			left: 0;
		}
	}
	.login__submit {
		display: flex;
		justify-content: center;
		.login__button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
			min-width: 120px;
			height: 50px;
			border-radius: 25px;
			font-size: 16px;
			color: $color_4;
			line-height: 1.2;
			outline: none !important;
			border: none;
			transition: all 0.4s ease 0s;
		}
		button {
			&:hover {
				background-color: $background-color_3;
				transition: all 0.4s ease 0s;
				cursor: pointer;
			}
		}
	}
}
@media all and (max-width:767.98px) {
	.login {
		padding-left: 10px;
		padding-right: 10px;
	}
	.login__title {
		font-size: 20px;
	}
}
@media all and (max-width:575.98px) {
	.login {
		width: 100%;
		height: 30%;
	}
}
